{{negocio.nombre}}

<form class="form" method="post">
    {% csrf_token %}

    <label for="fecha_inicio">Inicio</label>
    <input type="date" name="fecha_inicio">
    <br>
    <label for="fecha_final">Final</label>
    <input type="date" name="fecha_final">
    <br>
    <label for="H">1H</label>
    <input type="checkbox" id="H" name="H">
    <label for="D">1D</label>
    <input type="checkbox" id="D" name="D">
    <label for="W">1S</label>
    <input type="checkbox" id="W" name="W">
    <label for="Q">Cuartos</label>
    <input type="checkbox" id="Q" name="Q">
    <label for="Y">1Y</label>
    <input type="checkbox" id="Y" name="Y">
    <br>
    <button type="submit">aplicar</button>
</form>

<table class="tabla">
    <tr>
        <th>Fecha</th>
        <th>Neto</th>
        <th>Iva</th>
        <th>Total</th>
        <th>Volumen</th>
        
    </tr>
    {% load templates_filters %}
    {% for i in fecha %}
        <tr>
            <td>{{fecha|index:forloop.counter0}}</td>
            <td>{{neto|index:forloop.counter0}}</td>
            <td>{{iva|index:forloop.counter0}}</td>
            <td>{{total|index:forloop.counter0}}</td>
            <td>{{volumen|index:forloop.counter0}}</td>   
        </tr>
    {% endfor %}
</table>
